<h1>Create a new Todo List</h1>

<nav>
  <ul>
    <li><%= link_to "Return to Available Lists", lists_path, :id => "return_to_lists", :class => "back_button" %></li>
  </ul>
</nav>

<%= error_messages_for :list %>

<%= form_for @list do |f| -%>
  <ul class="form_fields">
    <li>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.submit "Create List", :disable_with => 'Create Listing...' %>
    </li>
  </ul>
<% end -%>