<%= error_messages_for :todo %>

<%= form_for [@list,@todo] do |f| -%>
  <ul class="form_fields">
    <li>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </li>
    <li>
      <% if @todo.id.blank? %>
      <%= f.submit "Add Todo"%>
      <% else %>
      <%= f.submit "Update Todo"%>
      <% end %>
    </li>
  </ul>
<% end -%>