<!DOCTYPE html>
<html>
<head>
  <title>SimpleToDo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% %w(notice error).each do |type| %>
    <% unless flash[type.to_sym].blank? %>
      <div class="flash" id="flash_<%= type %>"><p><%= flash[type.to_sym] %></p></div>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
